---
import { getAllPublishedArticles } from "@facade/article";
import Layout from "@layout/layout/Layout.astro";
import "@style/pages/article.css";
import { formatDateWithDay } from "@util/date-string";
import { getReadingTime } from "@util/reading-time";
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

interface Props {
  article: CollectionEntry<"article">;
}

export async function getStaticPaths() {
  const articles = await getAllPublishedArticles();
  return articles.map((article) => ({
    params: { slug: article.slug },
    props: { article },
  }));
}

const { article } = Astro.props;
const { title, image, date } = article.data;

const { Content } = await article.render();
---

<Layout title={`${title} // Sarthik Gupta`}>
  <article class="article">
    <div class="article__cover">
      <Image
        class="article__cover__image"
        src={image.src as ImageMetadata}
        alt={image.alt}
      />
      <h1 class="article__cover__title">
        {title}
      </h1>
      <h4 class="article__cover__date">
        {formatDateWithDay(date)} • {getReadingTime(article.body)} min read
      </h4>
    </div>
    <main class="main main__article">
      <Content />
    </main>
  </article>
</Layout>
