---
import "./career-card.css";

import { formatDate, getDuration } from "@util/date-string";

interface Props {
  designation: string;
  location: string;
  company: string;
  startDate: Date;
  endDate?: Date;
}

const { designation, location, company, startDate, endDate } = Astro.props;

const isActive = !endDate;
---

<div class="career-card" class:list={[{ "career-card--active": isActive }]}>
  <h2 class="career-card__title">{designation}</h2>
  <h3 class="career-card__subtitle">
    <span class="career-card__subtitle__company">{company}</span>
    <span class="career-card__subtitle__location">{location}</span>
  </h3>
  <h3
    class="career-card__description"
    data-startDate={startDate}
    data-endDate={endDate}
  >
    {formatDate(startDate)} - {isActive ? "Present" : formatDate(endDate)} •
  </h3>
</div>

<script>
  import { getDuration } from "@util/date-string";
  const descriptionEls = document.querySelectorAll(".career-card__description");
  descriptionEls.forEach((description) => {
    const startDate = new Date(description.getAttribute("data-startDate"));
    const endDate = description.getAttribute("data-endDate");
    const duration = getDuration(
      startDate,
      endDate ? new Date(endDate) : new Date(),
    );
    description.textContent = `${description.textContent} ${duration}`;
  });
</script>
