---
import type { CollectionEntry } from "astro:content";
import "./career-card.css";

import { formatDate } from "@util/date-string";

interface Props {
  experience: CollectionEntry<"experience">;
  url: string;
}

const { experience, url } = Astro.props;

const { designation, location, company, companyUrl, startDate, endDate } =
  experience.data;
const isActive = !endDate;
---

<div class="career-card" class:list={[{ "career-card--active": isActive }]}>
  <a class="career-card__title" href={url}>{designation}</a>
  <h3 class="career-card__subtitle">
    <a class="career-card__subtitle__company" href={companyUrl}>{company}</a>
    <span class="career-card__subtitle__location">{location}</span>
  </h3>
  <h3
    class="career-card__description"
    data-startDate={startDate}
    data-endDate={endDate}
  >
    {formatDate(startDate)} - {isActive ? "Present" : formatDate(endDate)} •
  </h3>
</div>

<script>
  import { getDuration } from "@util/date-string";
  const descriptionEls = document.querySelectorAll(".career-card__description");
  descriptionEls.forEach((description) => {
    const startDate = new Date(description.getAttribute("data-startDate"));
    const endDate = description.getAttribute("data-endDate");
    const duration = getDuration(
      startDate,
      endDate ? new Date(endDate) : new Date(),
    );
    description.textContent = `${description.textContent} ${duration}`;
  });
</script>
