---
import CareerCard from "@component/career-card/CareerCard.astro";
import type { CollectionEntry } from "astro:content";
import "./career-track.css";

interface Props {
  experiences: CollectionEntry<"experience">[];
}

const { experiences } = Astro.props;
---

<ol class="career-track">
  {
    experiences.map((experience) => (
      <li class="career-track__item">
        <CareerCard
          designation={experience.data.designation}
          location={experience.data.location}
          company={experience.data.company}
          startDate={experience.data.startDate}
          endDate={experience.data.endDate}
        />
      </li>
    ))
  }
  <!-- <li class="career-track__item">
    <CareerCard
      designation="Software Engineer"
      location="Bengaluru, India"
      company="Soroco"
      startDate="Aug 2021"
    />
  </li>
  <li class="career-track__item">
    <CareerCard
      designation="Core Contributor"
      location="Remote"
      company="The Tor Project"
      startDate="Jul 2023"
    />
  </li>
  <li class="career-track__item">
    <CareerCard
      designation="Business Analyst Intern"
      location="Gurugram, India"
      company="Collegedunia"
      startDate="Jan 2020"
      endDate="July 2020"
    />
  </li> -->
</ol>
