---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import "./card.css";

interface Props {
  title: string;
  description: string;
  image: {
    src: ImageMetadata;
    alt: string;
  };
  url: string;
}

const { title, description, image, url } = Astro.props;
---

<a class="card" href={url}>
  <Image class="card__image" src={image.src} alt={image.alt} />
  <h2 class="card__title">{title}</h2>
  <p class="card__description">{description}</p>
</a>
