---
import Card from "@component/Card.astro";
import HorizontalCard from "@component/HorizontalCard.astro";
import Section from "@component/Section.astro";
import Layout from "@layout/Layout.astro";

import {
  getAllFeaturedArticles,
  getAllPublishedArticles,
} from "@facade/article";
import { getPageInfo } from "@facade/page-info";

const pageInfo = await getPageInfo("articles");
const allArticles = await getAllPublishedArticles();
const allFeaturedArticles = await getAllFeaturedArticles();
---

<Layout title="Articles // Sarthik Gupta">
  <main class="main main--articles">
    <h1 class="articles__heading">{pageInfo.data.title}</h1>
    <p class="articles__heading__description">
      {pageInfo.data.description}
    </p>
    <Section title="Featured Articles">
      <div class="articles__featured">
        {
          allFeaturedArticles.map((article) => (
            <Card
              title={article.data.title}
              description={article.data.description}
              image={article.data.image}
              url={`/article/${article.slug}/`}
            />
          ))
        }
      </div>
    </Section>
    <Section title="All Articles">
      <div class="articles__list">
        {
          allArticles.map((article) => (
            <HorizontalCard
              title={article.data.title}
              description={article.data.description}
              image={article.data.image}
              tags={article.data.tags}
              date={article.data.date}
              url={`/article/${article.slug}`}
            />
          ))
        }
      </div>
    </Section>
  </main>
</Layout>

<style>
  @media (min-width: 760px) {
    .main--articles {
      margin: 0 auto;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
    }
  }

  .articles {
    &__heading {
      font-family: var(--fonts-heading);
      font-size: var(--fs-3xl);
      font-weight: 700;
      background-image: linear-gradient(
        135deg,
        var(--yellow-100-accent) 0%,
        var(--pink-100-accent) 100%
      );
      background-clip: text;
      -webkit-text-fill-color: transparent;
      &__description {
        font-size: var(--fs-md);
        color: var(--grey-400);
        margin: var(--space-s) 0;
        line-height: 2;
        font-weight: 500;
      }
    }
    &__featured {
      display: flex;
      align-items: center;
      margin-left: calc(-1 * var(--space-s));
      margin-right: calc(-1 * var(--space-s));
    }
    &__list {
      display: flex;
      flex-direction: column;
      margin-left: calc(-1 * var(--space-s));
      margin-right: calc(-1 * var(--space-s));
    }
  }
</style>
