---
import Card from "@component/Card.astro";
import HorizontalCard from "@component/HorizontalCard.astro";
import Section from "@component/Section.astro";
import Layout from "@layout/Layout.astro";

import {
  getAllFeaturedArticles,
  getAllPublishedArticles,
} from "@facade/article";
import { getPageInfo } from "@facade/page-info";
import type { ImageMetadata } from "astro";

const pageInfo = await getPageInfo("articles");
const allArticles = await getAllPublishedArticles();
const allFeaturedArticles = await getAllFeaturedArticles();

const { Content } = await pageInfo.render();
---

<Layout
  title={pageInfo.data.title}
  description="This is the description"
  imageUrl={pageInfo.data.imageUrl as ImageMetadata}
  pageUrl={pageInfo.data.pageUrl}
>
  <main class="main main--articles">
    <h1 class="articles__heading">{pageInfo.data.tagline}</h1>
    <div class="articles__heading__description">
      <Content />
    </div>
    <Section title="Featured Articles">
      <div class="articles__featured">
        {
          allFeaturedArticles.map((article) => (
            <Card
              slug={article.slug}
              title={article.data.title}
              description={article.data.description}
              image={article.data.image}
              url={`/article/${article.slug}/`}
            />
          ))
        }
      </div>
    </Section>
    <Section title="All Articles">
      <div class="articles__list">
        {
          allArticles.map((article) => (
            <HorizontalCard
              title={article.data.title}
              description={article.data.description}
              image={article.data.image}
              date={article.data.date}
              url={`/article/${article.slug}/`}
            />
          ))
        }
      </div>
    </Section>
  </main>
</Layout>

<!-- TODO: Move this to component files -->
<script>
  import { addSkeletonLoader } from "@util/image-skeleton";
  addSkeletonLoader(".card__image", "card__image--loading");
  addSkeletonLoader(
    ".horizontal-card__image",
    "horizontal-card__image--loading",
  );
</script>

<style>
  /* Global Styles */
  .articles {
    &__heading {
      font-family: var(--fonts-heading);
      font-size: var(--fs-3xl);
      font-weight: 700;
      background-image: linear-gradient(
        135deg,
        var(--yellow-100-accent) 0%,
        var(--pink-100-accent) 100%
      );
      background-clip: text;
      -webkit-text-fill-color: transparent;
      &__description {
        font-size: var(--fs-md);
        color: var(--grey-400);
        margin: var(--space-s) 0;
        line-height: var(--lh-2);
        font-weight: 500;
      }
    }
    &__featured {
      display: flex;
      align-items: stretch;
      margin-left: calc(-1 * var(--space-s));
      margin-right: calc(-1 * var(--space-s));
    }
    &__list {
      display: flex;
      flex-direction: column;
      margin-left: calc(-1 * var(--space-s));
      margin-right: calc(-1 * var(--space-s));
    }
  }

  /* Desktop Overrides */
  @media (min-width: 760px) {
    .main--articles {
      margin: 0 auto;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
    }
    .articles {
      &__heading {
      }
      &__featured {
        flex-direction: row;
      }
    }
  }
  /* Mobile Overrides */
  @media (max-width: 480px) {
    .articles {
      &__featured {
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
      }
      &__list {
        margin-left: 0;
        margin-right: 0;
        row-gap: 1px;
        background-color: var(--grey-900);
        padding-bottom: 1px;
      }
    }
  }
</style>
