---
import Card from "@component/Card.astro";
import CareerTrack from "@component/CareerTrack.astro";
import Section from "@component/Section.astro";
import Layout from "@layout/Layout.astro";

import { getExperiences } from "@facade/experience";
import { getPageInfo } from "@facade/page-info";
import { getSideQuests } from "@facade/side-quest";
import { extractTextFromMarkdown } from "@util/markdown-text";

const pageInfo = await getPageInfo("career");
const experiences = await getExperiences();
const sideQuests = await getSideQuests();

const { Content } = await pageInfo.render();
---

<Layout
  metaData={{
    title: pageInfo.data.title,
    description: extractTextFromMarkdown(pageInfo.body),
    imageUrl: pageInfo.data.imageUrl,
    pageUrl: pageInfo.data.pageUrl,
  }}
>
  <main class="main main--career">
    <h1 class="career__heading">{pageInfo.data.tagline}</h1>
    <div class="career__heading__description">
      <Content />
    </div>
    <Section title="Work Experience">
      <div class="career__experience">
        <CareerTrack experiences={experiences} />
      </div>
    </Section>
    <Section title="Side Quests">
      <div class="career__side-quests">
        {
          sideQuests.map((quest) => (
            <Card
              slug={quest.slug}
              title={quest.data.title}
              description={quest.data.description}
              image={quest.data.image}
              url={`/article/${quest.slug}`}
            />
          ))
        }
      </div>
    </Section>
  </main>
</Layout>

<!-- TODO: Move this to component files -->
<script>
  import { addSkeletonLoader } from "@util/image-skeleton";
  addSkeletonLoader(".card__image", "card__image--loading");
</script>

<style>
  /* Global Styles */
  .career {
    &__heading {
      font-family: var(--fonts-heading);
      font-size: var(--fs-3xl);
      font-weight: 700;
      background-image: linear-gradient(
        135deg,
        var(--cyan-100-accent) 0%,
        var(--deep-purple-100-accent) 100%
      );
      background-clip: text;
      -webkit-text-fill-color: transparent;
      &__description {
        font-size: var(--fs-md);
        color: var(--grey-400);
        margin: var(--space-s) 0;
        line-height: var(--lh-2);
        font-weight: 500;
      }
    }
    &__side-quests {
      display: flex;
      align-items: center;
      margin-left: calc(-1 * var(--space-s));
      margin-right: calc(-1 * var(--space-s));
    }
  }

  /* Desktop Overrides */
  @media (min-width: 769px) {
    .main--career {
      margin: 0 auto;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
    }
  }
  /* Tablet Overrides */
  @media (min-width: 481px) and (max-width: 768px) {
    .main--career {
      margin: 0 auto;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
    }
  }
  /* Mobile Overrides */
  @media (max-width: 480px) {
    .career {
      &__side-quests {
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
</style>
