---
import { formatDateWithDay } from "@util/date-string";
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
  title: string;
  description: string;
  image: {
    src?: unknown; // TODO: Remove optional once Astro bug is fixed
    alt?: string; // TODO: Remove optional once Astro bug is fixed
  };
  tags: string[];
  date: Date;
  url: string;
}

const { title, description, image, tags, date, url } = Astro.props;
---

<a class="horizontal-card" href={url}>
  <Image
    class="horizontal-card__image"
    transition:animate="none"
    src={image.src as ImageMetadata}
    alt={image.alt}
    format="avif"
    height={128}
    width={128}
  />
  <h2 class="horizontal-card__title" transition:animate="none">{title}</h2>
  <p class="horizontal-card__description">{description}</p>
  <ul class="horizontal-card__tags">
    {tags.map((tag) => <li class="horizontal-card__tag">{tag}</li>)}
  </ul>
  <p class="horizontal-card__duration">
    <span class="horizontal-card__duration__read-time">5 min read</span>
    <span class="horizontal-card__duration__published"
      >{formatDateWithDay(date)}</span
    >
  </p>
</a>

<style>
  /* Global Styles */
  .horizontal-card {
    display: grid;
    width: 100%;
    cursor: pointer;
    grid-template-columns: 128px 1fr;
    column-gap: 20px;
    padding: var(--space-s);
    border-radius: var(--radius-md);
    background-color: transparent;
    text-decoration: unset;
    transition:
      background-color var(--transition-ease-slow),
      filter var(--transition-squish-slow),
      opacity var(--transition-ease-slow);
    &:hover {
      background-color: var(--grey-900);
      & .horizontal-card__image {
        filter: grayscale(0.4);
        opacity: 0.9;
      }
    }
    &__image {
      grid-row: span 4;
      border-radius: var(--radius-md);
      object-fit: cover;
      filter: grayscale(0.6);
      opacity: 0.8;
      width: 128px;
      height: 128px;
    }
    &__title {
      grid-row: span 1;
      grid-column: span 1;
      color: var(--grey-300);
      font-size: var(--fs-base);
      font-weight: 500;
      line-height: var(--lh-1-4);
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    &__description {
      grid-row: span 1;
      grid-column: span 1;
      color: var(--grey-500);
      font-size: var(--fs-sm);
      text-overflow: ellipsis;
      overflow: hidden;
      line-height: 2;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    &__tags {
      display: flex;
      column-gap: var(--space-2xs);
    }
    &__tag {
      list-style: none;
      background-color: var(--grey-800);
      border-radius: var(--radius-md);
      line-height: var(--lh-1);
      font-size: var(--fs-xs);
      padding: var(--space-3xs) var(--space-2xs);
      height: fit-content;
      color: var(--grey-400);
    }
    &__duration {
      grid-row: span 1;
      grid-column: span 1;
      &__read-time {
        position: relative;
        color: var(--grey-300);
        font-size: var(--fs-xs);
        text-overflow: ellipsis;
        overflow: hidden;
        line-height: 2;
        text-transform: uppercase;
        &::after {
          content: " • ";
          color: var(--grey-300);
          font-size: var(--fs-xs);
          line-height: 2;
        }
      }
      &__published {
        color: var(--grey-300);
        font-size: var(--fs-xs);
        text-overflow: ellipsis;
        overflow: hidden;
        line-height: 2;
        text-transform: uppercase;
      }
    }
  }

  /* Desktop Overrides */
  @media (min-width: 760px) {
  }
  /* Mobile Overrides */
  @media (max-width: 480px) {
    .horizontal-card {
      &__description {
        display: none;
      }
      &__tags {
      }
    }
  }
</style>
