---
import { formatDateWithDay } from "@util/date-string";
import { Image } from "astro:assets";
import "./horizontal-card.css";

interface Props {
  title: string;
  description: string;
  image: {
    src: string;
    alt: string;
  };
  tags: string[];
  date: Date;
}

const { title, description, image, tags, date } = Astro.props;
/* Dynamically importing images */
const images = import.meta.glob("/src/assets/images/*.{jpg,jpeg,png,svg}");
---

<div class="horizontal-card">
  <Image
    class="horizontal-card__image"
    src={images[image.src]()}
    alt={image.alt}
    width={128}
    height={128}
  />
  <h2 class="horizontal-card__title">{title}</h2>
  <p class="horizontal-card__description">{description}</p>
  <ul class="horizontal-card__tags">
    {tags.map((tag) => <li class="horizontal-card__tag">{tag}</li>)}
  </ul>
  <p class="horizontal-card__duration">
    <span class="horizontal-card__duration__read-time">5 min read</span>
    <span class="horizontal-card__duration__published"
      >{formatDateWithDay(date)}</span
    >
  </p>
</div>
