---
import { ViewTransitions } from "astro:transitions";

export interface MetaData {
  title: string;
  pageUrl: string;
  description?: string;
  imageUrl?: {
    src?: string;
    width?: number;
    height?: number;
    format?: "png" | "jpg" | "jpeg" | "tiff" | "webp" | "gif" | "svg" | "avif";
  };
  publishDate?: Date;
  author?: string;
  contentType?: "article" | "website";
}

interface Props {
  metaData: MetaData;
}

const { metaData: meta } = Astro.props;
---

<head>
  <meta charset="UTF-8" />
  <link rel="sitemap" href="/sitemap-index.xml" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <title>{meta.title}</title>
  <!-- Open Graph -->
  <meta name="generator" content={Astro.generator} />
  <link rel="canonical" href={meta.pageUrl} />
  <!-- Open Graph -->
  <meta property="og:title" content={meta.title} />
  <meta property="og:url" content={meta.pageUrl} />
  <meta property="og:type" content={meta.contentType || "website"} />
  {meta.imageUrl && <meta property="og:image" content={meta.imageUrl.src} />}
  {
    meta.description && (
      <meta
        property="og:description"
        content={meta.description}
        name="og:description"
      />
    )
  }
  {
    meta.publishDate && (
      <meta
        name="publish_date"
        property="og:publish_date"
        content={meta.publishDate.toISOString()}
      />
    )
  }
  {
    meta.author && (
      <>
        <meta
          name="author"
          property="og:article:author"
          content={meta.author}
        />
      </>
    )
  }
  <!-- Twitter -->
  <meta name="twitter:creator" content="@sarthikg" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content={meta.title} />
  {
    meta.description && (
      <meta
        name="twitter:description"
        property="twitter:description"
        content={meta.description}
      />
    )
  }
  {meta.imageUrl && <meta name="twitter:image" content={meta.imageUrl.src} />}

  <!-- Enable View-Transitions -->
  <ViewTransitions />
</head>
