---
import { getImage } from "astro:assets";
import { ViewTransitions } from "astro:transitions";

export interface MetaData {
  title: string;
  pageUrl: string;
  description?: string;
  imageUrl?: string;
  publishDate?: Date;
  author?: string;
  contentType?: "article" | "website";
}

interface Props {
  metaData: MetaData;
}

const { metaData: meta } = Astro.props;

const image = await getImage({
  src: meta.imageUrl,
  format: "png",
  width: 1200,
  height: 630,
});
---

<head>
  <meta charset="UTF-8" />
  <link rel="sitemap" href="/sitemap-index.xml" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <title>{meta.title}</title>
  <!-- Open Graph -->
  <meta name="generator" content={Astro.generator} />
  <link rel="canonical" href={meta.pageUrl} />
  <!-- Open Graph -->
  <meta property="og:title" content={meta.title} />
  <meta property="og:url" content={meta.pageUrl} />
  <meta property="og:type" content={meta.contentType || "website"} />
  {
    image && (
      <meta
        property="og:image"
        content={`${import.meta.env.SITE}${image.src}`}
      />
    )
  }
  {
    meta.description && (
      <meta
        property="og:description"
        content={meta.description}
        name="og:description"
      />
    )
  }
  {
    meta.publishDate && (
      <meta
        name="publish_date"
        property="og:publish_date"
        content={meta.publishDate.toISOString()}
      />
    )
  }
  {
    meta.author && (
      <>
        <meta
          name="author"
          property="og:article:author"
          content={meta.author}
        />
      </>
    )
  }
  <!-- Twitter -->
  <meta name="twitter:creator" content="@sarthikg" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content={meta.title} />
  {
    meta.description && (
      <meta
        name="twitter:description"
        property="twitter:description"
        content={meta.description}
      />
    )
  }
  {
    image && (
      <meta
        name="twitter:image"
        content={`${import.meta.env.SITE}${image.src}`}
      />
    )
  }

  <!-- Enable View-Transitions -->
  <ViewTransitions />
</head>
