---
import type { ImageMetadata } from "astro";
import { getImage } from "astro:assets";
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
  pageUrl: string;
  description?: string;
  imageUrl?: ImageMetadata;
}
const { title, description, pageUrl, imageUrl } = Astro.props;

const image = await getImage({
  src: imageUrl,
  format: "webp",
});
---

<head>
  <meta charset="UTF-8" />
  <meta name="description" content="Astro description" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <title>{title}</title>
  <meta name="generator" content={Astro.generator} />
  <meta content={title} property="og:title" />
  {description && <meta content={description} property="og:description" />}
  {description && <meta content={description} name="description" />}
  {imageUrl && <meta content={image.src} property="og:image" />}
  <meta content={pageUrl} property="og:url" />
  <ViewTransitions />
</head>
